<!DOCTYPE html>

<html>
  <head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Squash CMU{% endblock %}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Customized CSS -->
  </head>

  <body>

    <!-- The navigation bar -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Squash CMU</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

          
          {% if login_status is None %}
          <li><a href="/login">Log in</a></li>
          <li><a href="/register">Register</a></li>
          {% endif %}
          <!-- <li><a href="/player-form">Player Form</a></li> -->
        
         <!--  {% if player_id != None %}
          

          {% endif %} -->

          {% if login_status != None %}
          <li><a href="/partner">Find a Partner</a></li>

          <li><a href="/enter_result">Enter Match Result</a></li>
          <li><a href="/match_history/{{player_id}}">View Match History</a></li>
          <li><a href="/ladder">Ladder</a></li>
          
          
          <li><a href="/user/{{player_id}}">Your Profile</a></li>
          <li><a href="/logout">Log out</a></li>
          {% endif %}
          
      

        </ul>
      </div>
    </nav>



    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

     <div class="parallax-container" style="height: 300px">
     <div class="container">
      
     {% if login_status != None %}
     <h4 class="black-text"> Hi, {{login_status}} </h4>
     {% endif %}
     </div>
     <!-- image taken from http://www.wisegeek.com/what-is-the-sport-of-squash.htm -->
      <div class="parallax"><img src="/static/images/squash-ball-with-racket.jpg"></div>
    </div>

    <script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
    </script>
    {% block body %}

    {% endblock %}
  </body>
</html>
