{% extends 'app/base.html' %}

{% block title %}Filter{% endblock %}

{% block body %}

<!-- adapted from https://www.tutorialspoint.com/materialize/materialize_selects.htm -->
  
   <head>
      <title>The Materialize Selects Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">      
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
    <script>
         $(document).ready(function() {
         $('select').material_select();
      });
      </script>
   </head>

    <div class="container">
      <p> {{result}} </p>
<!--     <div class="section"><br><br><br><br><br></div> -->
      <form class="col s12" method="POST" action="/match_result" id="filter-form">
        {% csrf_token %}


        <div class="row">
          <div class="input-field col s6">
            <select name='gender'>
              <option value="" disabled selected>Choose your option</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="D">Don't Care</option>
            </select>
            <label>Gender</label>
          </div>
        </div>



        <div class="row">
          <div class="input-field col s6">
            <select name='gender_importance'>
              <option value="" disabled selected>Choose your option</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>

            </select>
            <label>Gender Importance 1-5 </label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <select name='min_level'>
              <option value="" disabled selected>Choose your option</option>
              <option value=1.0>1.0</option>
              <option value=1.5>1.5</option>
              <option value=2.0>2.0</option>
              <option value=2.5>2.5</option>
              <option value=3.0>3.0</option>
              <option value=3.5>3.5</option>
              <option value=4.0>4.0</option>
              <option value=4.5>4.5</option>
              <option value=5.0>5.0</option>
              <option value=5.5>5.5</option>
              <option value=6.0>6.0</option>
            </select>
            <label>Partner's Min Level</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <select name='max_level'>
              <option value="" disabled selected>Choose your option</option>
              <option value=1.0>1.0</option>
              <option value=1.5>1.5</option>
              <option value=2.0>2.0</option>
              <option value=2.5>2.5</option>
              <option value=3.0>3.0</option>
              <option value=3.5>3.5</option>
              <option value=4.0>4.0</option>
              <option value=4.5>4.5</option>
              <option value=5.0>5.0</option>
              <option value=5.5>5.5</option>
              <option value=6.0>6.0</option>
            </select>
            <label>Partner's Max Level</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <select name='level_importance'>
              <option value="" disabled selected>Choose your option</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>

            </select>
            <label>Level Importance 1-5 </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <select name='frequency'>
              <option value="" disabled selected>Choose your option</option>
              <option value=1>Once/week</option>
              <option value=2>Twice/week</option>
              <option value=3>Three times/week</option>
              <option value=4>Four times/week</option>
              <option value=5>Five times/week</option>
              <option value=6>Six times/week</option>
              <option value=7>Everyday</option>

            </select>
            <label>How often do you prefer to play?</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <select name='frequency_importance'>
              <option value="" disabled selected>Choose your option</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>

            </select>
            <label>Frequency Importance 1-5 </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <select multiple name='times'>
              <option value="" disabled selected>Choose your option</option>
              <option value="MM">Monday Morning</option>
              <option value="MA">Monday Afternoon</option>
              <option value="ME">Mondy Evening</option>
              <option value="TM">Tuesday Morning</option>
              <option value="TA">Tuesday Afternoon</option>
              <option value="TE">Tuesday Evening</option>
              <option value="WM">Wednesday Morning</option>
              <option value="WA">Wednesday Afternoon</option>
              <option value="WE">Wednesday Evening</option>
              <option value="TrM">Thursday Morning</option>
              <option value="TrA">Thursday Afternoon</option>
              <option value="TrE">Thursday Evening</option>
              <option value="FM">Friday Morning</option>
              <option value="FA">Friday Afternoon</option>
              <option value="FE">Friday Evening</option>
              <option value="SM">Saturday Morning</option>
              <option value="SA">Saturday Afternoon</option>
              <option value="SE">Saturday Evening</option>
              <option value="SUM">Sunday Morning</option>
              <option value="SUA">Sunday Afternoon</option>
              <option value="SUE">Sunday Evening</option>
            </select>
            <label>What are your preferred times to play?</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <select name='times_importance'>
              <option value="" disabled selected>Choose your option</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>

            </select>
            <label>Preferred Times Importance 1-5 </label>
          </div>
        </div>


  


<!-- <html>
   <head>
      <title>The Materialize Selects Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">      
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
    <script>
         $(document).ready(function() {
         $('select').material_select();
      });
      </script>
   </head>
   <body class="container">   
      <div class="row">
         <form class="col s12">
            <div class="row">
               <label>Materialize Select</label>
               <select>
                  <option value="" disabled selected>Select Fruit</option>
                  <option value="1">Mango</option>
                  <option value="2">Orange</option>
                  <option value="3">Apple</option>
               </select>               
            </div>
            <div class="row">
               <label>Materialize Multi Select</label>
               <select multiple>
                  <option value="" disabled selected>Select Fruit</option>
                  <option value="1">Mango</option>
                  <option value="2">Orange</option>
                  <option value="3">Apple</option>
               </select>              
            </div>
            <div class="row">
               <label>Select with Optgroup</label>
               <select>
                  <optgroup label="Fruits">
                     <option value="1">Mango</option>
                     <option value="2">Orange</option>
                     <option value="3">Apple</option>
                  </optgroup>
                  <optgroup label="Vegs">
                     <option value="4">Brinjal</option>
                     <option value="5">Potato</option>
                     <option value="6">Tomato</option>
                  </optgroup>
               </select>
            </div>
            <div class="row">
               <label>Select with images</label>
               <select class="icons">
                  <option value="" disabled selected>Select Technology</option>
                  <option value="1" data-icon="html5-mini-logo.jpg" class="circle">HTML</option>
                  <option value="2">JavaScript</option>
                  <option value="3">CSS</option>
               </select>
            </div>
            <div class="row">
               <label>Browser default Select</label>
               <select class="browser-default">
                  <option value="" disabled selected>Select Fruit</option>
                  <option value="1">Mango</option>
                  <option value="2">Orange</option>
                  <option value="3">Apple</option>
               </select>
            </div>
            <div class="row">
               <label>Disabled Materialize Select</label><label>Disabled Materialize Select</label>
               <select disabled>
                  <option value="" disabled selected>Select Fruit</option>
                  <option value="1">Mango</option>
                  <option value="2">Orange</option>
                  <option value="3">Apple</option>
               </select>
            </div>
            <div class="row">
               <label>Disabled Browser default Select</label>
               <select class="browser-default" disabled>
                  <option value="" disabled selected>Select Fruit</option>
                  <option value="1">Mango</option>
                  <option value="2">Orange</option>
                  <option value="3">Apple</option>
               </select>
            </div>      
         </form>       
      </div>
   </body>   
</html> -->



        <div class='section'><br></div>


        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
      
    </div>


{% endblock %}
