{% extends 'app/base.html' %}


{% load static %}
{% block body %}

<!-- template adapted from http://materializecss.com/cards.html -->
<!-- Cards tempalte adapted from http://materializecss.com/cards.html -->

<div class="container">
{% if login_status is None %}
<h5>{{ greetings }} {{ instructions }}</h5>
{% endif %}

<div><br/><br/></div>
<div class="row">

        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
   <!-- image taken from https://www.openplay.co.uk/connect/type/squash-partners -->
              <img src="/static/images/partner.jpg", style="height: 150px">
              <span class="card-title">Find A Buddy</span>
            </div>
            <div class="card-content", style="height: 220px">
              <p>Find a partner according to skill level,
              common free time, how often you would like to play, and other preferences.</p>
              <p>We provide two ways to find a partner:</p>
              <li>Manual Match</li>
              <li>Auto Match</li>
            </div>
            <div class="card-action">
            {% if login_status != None %}
              <a href="/partner">Find a Partner</a>
            {% else %}
              <a href="/login">Please Login To Enjoy This Feature</a>
            {% endif %}
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
                <!--  image taken from https://www.pinterest.com/pin/162270392794642834/ -->
              <img src="/static/images/match.jpg", style="height: 150px">
              <span class="card-title">Play Games</span>
            </div>
            <div class="card-content", style="height: 220px">
              <p>Play games and record your match results.</p>
            </div>
            
            <div class="card-action">
            {% if login_status != None %}
              <a href="/enter_result">Enter Match Results</a>
            {% else %}
              <a href="/login">Please Login To Enjoy This Feature</a>
            {% endif %}
            </div>
          </div>
        </div>


        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
                 <!-- image taken from https://powerbi.microsoft.com/en-us/blog/visualizing-data-for-the-squash-world-championships-with-power-bi/ -->
              <img src="/static/images/squash-data.png", style="height: 150px">
              <span class="card-title"><div class="black-text", style="font-weight:bold">View Match Data</div></span>
            </div>
            <div class="card-content", style="height: 220px">
              <p>View your match history, confidence factor and know your 
                status and progress 
              as a squash player.</p>
            </div>
            
            <div class="card-action">
            {% if login_status != None %}
              <a href="/match_history/{{player_id}}">View Match History</a>
            {% else %}
              <a href="/login">Please Login To Enjoy This Feature</a>
            {% endif %}
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card" >
            <div class="card-image">
               <!--  image taken from http://tavisquash.org/activities/ -->
              <img src="/static/images/ladder.jpg", style="height: 150px">
              <span class="card-title"><div class="black-text", style="font-weight:bold">Climb the Ladder</div></span>
            </div>
            <div class="card-content", style="height: 220px">
              <p>View the school Ladder and climb your way up!</p>
            </div>
            <div class="card-action">
            {% if login_status != None %}
              <a href="/ladder">Go To Ladder</a>
            {% else %}
              <a href="/login">Please Login To Enjoy This Feature</a>
            
            {% endif %}
            </div>
          </div>
        </div>

</div>


</div>
{% endblock %}