{% extends 'app/base.html' %}

{% block title %}User Profile{% endblock %}


{% block body %}

    
    <div class="container">

        <h1>Ladder</h1>

         <p> Your Rank: {{rank}}</p> 



        <div class="row">
          <div class="col s12 m6">
            <div class="card  teal darken-2">
              <div class="card-content white-text">
                <span class="card-title">{{num}} Ways to Improve Your Rank By 1:</span>
                {% if challenge_matches == None %}
                <p> You Current Rank is 1!</p>
                {% else %}
                {% for x,y in challenge_matches %}
                <li> Win {{y}} Matche(s) against {{x.first_name}} </li>
                {% endfor %}
                {% endif %}
                <!-- <li>* Confidence Factor: {{confidence_factor}}</li> -->
              </div>
              <!-- <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a> -->
            </div>
          </div>
        </div>



<!--          <p> <div class='green-text'>{{num}} Ways to Improve Your Rank By 1:</div></p> 
         {% if challenge_matches == None %}
         <p> You Current Rank is 1!</p>
         {% else %}
         {% for x,y in challenge_matches %}
         <li> Win {{y}} Matche(s) against {{x.first_name}} </li>
         {% endfor %}
         {% endif %} -->

        <div><br/></div>

        <table class="centered" style='width:600px'>

            <thead>
                <tr>
                    <th data-field="rank">Rank</th>
                    <th data-field="name">Name</th>
                    <th data-field="points">Points</th>
                </tr>
            </thead>

            <tbody>
          
                {% for x,y,z in ladder %}
                <tr>
                    <td> {{x}} </td>
                    {% if player_id != z.id %}
                    <td>
                    <u><a href="/match_history_opponent/{{player_id}}/{{z.id}}">
                        {{z.first_name}} {{z.last_name}} </a></u>
                    </td>
                    {% else %}
                    <td> {{z.first_name}} {{z.last_name}} </td>
                    {% endif %}
                    <td> {{y}} </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>



    <!--     <ul>
            {% for x,y,z in ladder %}
                {% if player_id != z.id %}
                <li>Rank {{x}} <a href="/match_history_opponent/{{player_id}}/{{z.id}}">{{z}}</a> {{y}}</li>

                {% else %}
                <li>Rank {{x}} {{z}} {{y}}</li>
                {% endif %}
            {% endfor %}
      
        </ul> -->

    </div>






{% endblock %}