{% extends 'app/base.html' %}


{% block title %}User Profile{% endblock %}

{% block body %}
  

    <h1>{{ player.first_name}} {{"'s Match History"}}</h1>
    <ul>
      <li>{{'Andrew ID: '}} {{player.andrew}}</li>
      <li>{{'Level: '}}{{player.level}}</li>
    </ul>


        {% for a,b,c,d in matches %}
        <li>{{a}}</li>
        <li>{{b}}</li>
        <li>{{c}}</li>
        <li>{{d}}</li>
        {% endfor %}



    <div class="row">
    <a onclick="location.href='/enter_result';"
              class="waves-effect waves-light btn-large">Enter Match Result</a>
    </div>


{% endblock %}