{% extends 'app/base.html' %}


{% block title %}Match History{% endblock %}

{% block body %}
  

    <h1>{{ player.first_name}} {{"'s Match History"}}</h1>
    <ul>
      <li>{{'Andrew ID: '}} {{player.andrew}}</li>
      <li>{{'Level: '}}{{player.level}}</li>
      <li>Ranking Points{{player.points}}</li>
      <li>Confidence Factor: {{confidence_factor}}</li>
    </ul>

    <ul>
        {% for a,b,c,d,e,f,g,h,i,j,k,l in matches %}
          <li>Date: {{a}} </li>
          <li>Against: <a href="/match_history_opponent/{{player.id}}/{{e}}">
            {{f}} {{g}}</a> </li>
          <li>Winner: {{c}}({{b}})</li>
          <li>Score: {{h}}</li>
          <li>Points Gained {{i}}  Opponent's Points Gained {{j}} </li>
          <li>Your Points after Match:{{k}}</li>
          <li>Opponent's Points After Match{{l}}</li>
        {% endfor %}
    </ul>



    <div class="row">
    <a onclick="location.href='/enter_result';"
              class="waves-effect waves-light btn-large">Enter Match Result</a>
    </div>


{% endblock %}