{% extends 'app/base.html' %}


{% block title %}Match History againts {{opponent.first_name}}{% endblock %}

{% block body %}

<!-- table template adapted from http://materializecss.com/table.html -->
 
    <div class="container">
    <h3>{{ player.first_name}}{{"'s Match History Against"}} {{opponent.first_name}}</h3>
    <p>{{result}}</p>

    {% if result is None %}

      <li><u><a href="/user/{{opponent.id}}">View {{opponent.first_name}}'s Profile</a></u></li>

      <p> <h4 class='orange-text'> * Confidence Factor Against {{opponent.first_name}} : {{confidence_factor_against}}</h4> </p> 

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Opponent Basic Info</span>
              <li>Name: {{opponent.first_name}} {{opponent.last_name}}</li>
              <li>Andrew ID: {{opponent.andrew}}</li>
              <li>Skill Level: {{opponent.level}}</li>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">You vs. {{opponent.first_name}}</span>
              <li> Total matches played: {{numMatches}}</li>
              <li> % of matches won (total): {{total_percent}}%</li>
              <li> % of matches won (last 5 months): {% if recent_percent != None %} {{recent_percent}}% {% else %} No Match record.{% endif %}</li>

            </div>

          </div>
        </div>
      </div>

      <p class="blue-text text-darken-2"> * Confidence Factor is calculated based on ranking points, recent activeness and match results against this opponent. Maximum is 100.</p>



      <h5>Match History</h5>

      <table class="centered">

        <thead>
          <tr>
            <th data-field="1">Date</th>
            <th data-field="2">Winner</th>
            <th data-field="3">Score</th>
            <th data-field="4">Points Gained</th>
            <th data-field="5">Opponent Points Gained</th>
            <th data-field="6">Your Points After Match</th>
            <th data-field="7">Opponent's Points After Match</th>
          </tr>
        </thead>

        <tbody>
          {% for a,b,c,d,e,f,g,h in matches %}
          <tr>
            <td>{{a}} </td>
            <td>
             {% if b != opponent.andrew %} <div class='green-text'>{% endif %}
                  {{c}}({{b}}) {% if b != opponent.andrew %}</div>{% endif %}</td>
            <td>{{d}} </td>
            <td>{{e}}</td>
            <td>{{f}} </td>
            <td>{{g}} </td>
            <td>{{h}} </td>
          </tr>

          {% endfor %}

        </tbody>
      </table>


    {% endif %}
    <div class="row">
    <a onclick="location.href='/enter_result';"
              class="waves-effect waves-light btn-large">Enter Match Result</a>
    </div>
    </div>



{% endblock %}