{% extends 'app/base.html' %}

{% block title %}Find a Partner{% endblock %}


{% block body %}


    <div class="container">
      <div class="row" style="margin-top: 15rem">
        <div class="col s3 offset-s2">
          <a class="waves-effect waves-light btn-large">Super Match</a>
        </div>
        <div class="col s3 offset-s2">

          <a onclick="location.href='/filter';"
              class="waves-effect waves-light btn-large">Manual Match</a>

        </div>
      </div>
      <h1>{{ greetings }} {{ name }}</h1>
  </div>



{% endblock %}
