{% extends 'app/base.html' %}

{% load template_filter %}

{% block title %}User Profile{% endblock %}

{% block body %}
  
    <div class="container">
    <h1>{{ player.first_name}} {{"'s Profile"}}</h1>

    <table style='width:400px'>
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name"></th>
              
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><i class="material-icons">perm_identity</i> Name</td>
            <td>{{player.first_name}} {{player.last_name}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">picture_in_picture</i> Andrew ID</td>
            <td>{{player.andrew}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">person_pin</i> Gender</td>
            <td>{{player.gender}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">email</i> Email</td>
            <td>{{player.email}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">phone</i> Phone Number</td>
            <td>{{player.phone}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">description</i> Skill Level</td>
            <td>{{player.level}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">av_timer</i> Frequency</td>
            <td>{{player.frequency}} / week</td>
          </tr>
          <tr>
            <td><i class="material-icons">perm_contact_calendar</i> Preferred Times</td>
            <td> {% for time in preferred_times %}
                <li>{{time | time_in_week}}</li>
                  {% endfor %}</td>
          </tr>
    </tbody>
    </table>




<!-- 
    <ul>

      <li><i class="material-icons">perm_identity</i> {{'Andrew ID: '}} {{player.andrew}}</li>
      <li><i class="material-icons">person_pin</i> {{'Gender: '}} {{player.gender}}</li>
      <li><i class="material-icons">phone</i> {{'Phone: '}} {{player.phone}}</li>
      <li><i class="material-icons">email</i> {{'Email: '}} {{player.email}}</li>
      <li><i class="material-icons">av_timer</i> {{'Frequency: '}} {{player.frequency}}/week</li>
      <li><i class="material-icons">description</i> Skill Level{{player.level}}</li>
      <li><i class="material-icons">perm_contact_calendar</i>
       {{'Preferred times: '}}
      {% for time in preferred_times %}
      <li>{{time | time_in_week}}</li>
      {% endfor %}
      {{preferred_times| times_in_week | join:", "}}
      </li>
      

    </ul> -->

    {% if allowUpdate != None %}
    <a onclick="location.href='/update';"
              class="waves-effect waves-light btn">Update Profile</a>
    {% endif %}
    </div>

{% endblock %}