{% extends 'app/base.html' %}

{% load template_filter %}

{% block title %}User Profile{% endblock %}

{% block body %}
  

    <h1>{{ player.first_name}} {{"'s Profile"}}</h1>
    <ul>
      <li>{{'Andrew ID: '}} {{player.andrew}}</li>
      <li>{{'Gender: '}} {{player.gender}}</li>
      <li>{{'Phone: '}} {{player.phone}}</li>
      <li>{{'Email: '}} {{player.email}}</li>
      <li>{{'Level: '}}{{player.level}}</li>
      <li>{{'Preferred times: '}}{{preferred_times| times_in_week | join:", "}}</li>
      

    </ul>

    <a onclick="location.href='/update';"
              class="waves-effect waves-light btn-large">Update Profile</a>


{% endblock %}