{% extends 'app/base.html' %}

{% load template_filter %}

{% block title %}User Profile{% endblock %}

{% block body %}
  
    <div class="container">
    <h1>{{ player.first_name}} {{"'s Profile"}}</h1>



    <table>
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name"></th>
              
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><i class="material-icons">perm_identity</i> Name</td>
            <td>{{player.first_name}} {{player.last_name}}</td>

            <!-- <td>Andrew ID</td>
            <td>Gender</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Frequency</td>
            <td>Skill Level</td>
            <td>Preferred Times</td> -->
          </tr>


          <tr>
          <td>Andrew</td>
          <td>{{player.andrew}}</td>
          </tr>
          <!-- <tr>
            <td>{{player.first_name}} {{player.last_name}}</td>
            <td>{{player.andrew}}</td>
            <td>{{player.gender}}</td>
            <td>{{player.email}}</td>
            <td>{{player.phone}}</td>
            <td>{{player.frequency}}/week</td>
            <td>{{player.level}}</td>

            <td>
              {% for time in preferred_times %}
                <li>{{time | time_in_week}}</li>
                  {% endfor %}
              </td>
          </tr> -->
         
        </tbody>
      </table>




    <ul>

      <li><i class="material-icons">perm_identity</i> {{'Andrew ID: '}} {{player.andrew}}</li>
      <li><i class="material-icons">person_pin</i> {{'Gender: '}} {{player.gender}}</li>
      <li><i class="material-icons">phone</i> {{'Phone: '}} {{player.phone}}</li>
      <li><i class="material-icons">email</i> {{'Email: '}} {{player.email}}</li>
      <li><i class="material-icons">av_timer</i> {{'Frequency: '}} {{player.frequency}}/week</li>
      <li><i class="material-icons">description</i> Skill Level{{player.level}}</li>
      <li><i class="material-icons">perm_contact_calendar</i>
       {{'Preferred times: '}}
      {% for time in preferred_times %}
      <li>{{time | time_in_week}}</li>
      {% endfor %}
      <!-- {{preferred_times| times_in_week | join:", "}} -->
      </li>
      

    </ul>

    {% if allowUpdate != None %}
    <a onclick="location.href='/update';"
              class="waves-effect waves-light btn">Update Profile</a>
    {% endif %}
    </div>


{% endblock %}