{% extends 'app/base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}

<!-- adapted from https://www.tutorialspoint.com/materialize/materialize_selects.htm -->
  
   <head>
      <title>The Materialize Selects Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">      
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
    <script>
         $(document).ready(function() {
         $('select').material_select();
      });
      </script>
   </head>

    <div class="container">
<!--     <div class="section"><br><br><br><br><br></div> -->
      <form class="col s12" method="POST" action="/signup" id="signup-form">
        {% csrf_token %}

        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" name="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" name="last_name" type="text" class="validate">
            <label for="first_name">Last Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" name="andrew" type="text" class="validate">
            <label for="first_name">Andrew ID</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" name="phone" type="text" class="validate">
            <label for="first_name">Phone Number</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" name="email" type="text" class="validate">
            <label for="first_name">Email</label>
          </div>
        </div>



        <div class="row">
          <div class="input-field col s6">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
            </select>
            <label>Gender</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">1.0</option>
              <option value="2">1.5</option>
              <option value="3">2.0</option>
              <option value="4">2.5</option>
              <option value="5">3.0</option>
              <option value="6">3.5</option>
              <option value="7">4.0</option>
              <option value="8">4.5</option>
              <option value="9">5.0</option>
              <option value="10">5.5</option>
              <option value="11">6.0</option>
            </select>
            <label>Skill Level</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Once/week</option>
              <option value="2">Twice/week</option>
              <option value="3">Three times/week</option>
              <option value="4">Four times/week</option>
              <option value="5">Five times/week</option>
              <option value="6">Six times/week</option>
              <option value="7">Everyday</option>

            </select>
            <label>How often do you prefer to play?</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <select multiple>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Monday Morning</option>
              <option value="2">Monday Afternoon</option>
              <option value="3">Mondy Evening</option>
              <option value="4">Tuesday Morning</option>
              <option value="5">Tuesday Afternoon</option>
              <option value="6">Tuesday Evening</option>
              <option value="7">Wednesday Morning</option>
              <option value="8">Wednesday Afternoon</option>
              <option value="9">Wednesday Evening</option>
              <option value="10">Thursday Morning</option>
              <option value="11">Thursday Afternoon</option>
              <option value="12">Thursday Evening</option>
              <option value="13">Friday Morning</option>
              <option value="14">Friday Afternoon</option>
              <option value="15">Friday Evening</option>
              <option value="16">Saturday Morning</option>
              <option value="17">Saturday Afternoon</option>
              <option value="18">Saturday Evening</option>
              <option value="19">Sunday Morning</option>
              <option value="20">Sunday Afternoon</option>
              <option value="21">Sunday Evening</option>

            </select>
            <label>What are your preferred times to play?</label>
          </div>
        </div>


  


<!-- <html>
   <head>
      <title>The Materialize Selects Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">      
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
    <script>
         $(document).ready(function() {
         $('select').material_select();
      });
      </script>
   </head>
   <body class="container">   
      <div class="row">
         <form class="col s12">
            <div class="row">
               <label>Materialize Select</label>
               <select>
                  <option value="" disabled selected>Select Fruit</option>
                  <option value="1">Mango</option>
                  <option value="2">Orange</option>
                  <option value="3">Apple</option>
               </select>               
            </div>
            <div class="row">
               <label>Materialize Multi Select</label>
               <select multiple>
                  <option value="" disabled selected>Select Fruit</option>
                  <option value="1">Mango</option>
                  <option value="2">Orange</option>
                  <option value="3">Apple</option>
               </select>              
            </div>
            <div class="row">
               <label>Select with Optgroup</label>
               <select>
                  <optgroup label="Fruits">
                     <option value="1">Mango</option>
                     <option value="2">Orange</option>
                     <option value="3">Apple</option>
                  </optgroup>
                  <optgroup label="Vegs">
                     <option value="4">Brinjal</option>
                     <option value="5">Potato</option>
                     <option value="6">Tomato</option>
                  </optgroup>
               </select>
            </div>
            <div class="row">
               <label>Select with images</label>
               <select class="icons">
                  <option value="" disabled selected>Select Technology</option>
                  <option value="1" data-icon="html5-mini-logo.jpg" class="circle">HTML</option>
                  <option value="2">JavaScript</option>
                  <option value="3">CSS</option>
               </select>
            </div>
            <div class="row">
               <label>Browser default Select</label>
               <select class="browser-default">
                  <option value="" disabled selected>Select Fruit</option>
                  <option value="1">Mango</option>
                  <option value="2">Orange</option>
                  <option value="3">Apple</option>
               </select>
            </div>
            <div class="row">
               <label>Disabled Materialize Select</label><label>Disabled Materialize Select</label>
               <select disabled>
                  <option value="" disabled selected>Select Fruit</option>
                  <option value="1">Mango</option>
                  <option value="2">Orange</option>
                  <option value="3">Apple</option>
               </select>
            </div>
            <div class="row">
               <label>Disabled Browser default Select</label>
               <select class="browser-default" disabled>
                  <option value="" disabled selected>Select Fruit</option>
                  <option value="1">Mango</option>
                  <option value="2">Orange</option>
                  <option value="3">Apple</option>
               </select>
            </div>      
         </form>       
      </div>
   </body>   
</html> -->



        <div class='section'><br></div>


        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
      <p>{{ result }}</p>
    </div>


{% endblock %}
