
<!-- template adapted from http://materializecss.com -->
{% extends 'app/base.html' %}

{% block title %}Match Result{% endblock %}

{% block body %}


    <div class="container">
            <div><br/></div>
            <h5><div class="green-text"> Match recorded sccessfully. </div></h5>
            <p> Points Gained: {{selfGain}}</p>
            <p> Your Ranking Points: {{updatedPoints}}</p>
            <p> Opponent's Gain: {{opponentGain}}</p>

            <div class="row">
                    <a onclick="location.href='/match_history/{{player_id}}';"
                    class="waves-effect waves-light btn">View Match History</a>
            </div>
    </div>

{% endblock %}
