{% extends 'app/base.html' %}

{% block title %}Update Profile{% endblock %}

{% block body %}

<!-- adapted from https://www.tutorialspoint.com/materialize/materialize_selects.htm -->
<!-- Form temlate Adapted from http://materializecss.com/forms.html -->

   <head>
      <title>The Materialize Selects Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">      
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
    <script>
         $(document).ready(function() {
         $('select').material_select();
      });
      </script>
   </head>

    

    <div class="container">
      <head>Update Your Profile</head>
      <p> {{result}} </p>
      <form class="col s12" method="POST" action="/update" id="edit-profile-form">
        {% csrf_token %}

        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" name="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" name="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" name="andrew" type="text" class="validate">
            <label for="andrew">Andrew ID</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" name="phone" type="text" class="validate">
            <label for="phone">Phone Number</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" name="email" type="text" class="validate">
            <label for="email">Email</label>
          </div>
        </div>



        <div class="row">
          <div class="input-field col s6">
            <select name='gender'>
              <option value="" disabled selected>Choose your option</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <label>Gender</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <select name='level'>
              <option value="" disabled selected>Choose your option</option>
              <option value=1.0>1.0</option>
              <option value=1.5>1.5</option>
              <option value=2.0>2.0</option>
              <option value=2.5>2.5</option>
              <option value=3.0>3.0</option>
              <option value=3.5>3.5</option>
              <option value=4.0>4.0</option>
              <option value=4.5>4.5</option>
              <option value=5.0>5.0</option>
              <option value=5.5>5.5</option>
              <option value=6.0>6.0</option>
            </select>
            <label>Skill Level</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <select name='frequency'>
              <option value="" disabled selected>Choose your option</option>
              <option value=1>Once/week</option>
              <option value=2>Twice/week</option>
              <option value=3>Three times/week</option>
              <option value=4>Four times/week</option>
              <option value=5>Five times/week</option>
              <option value=6>Six times/week</option>
              <option value=7>Everyday</option>

            </select>
            <label>How often do you prefer to play?</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <select multiple name='times'>
              <option value="" disabled selected>Choose your option</option>
              <option value="MM">Monday Morning</option>
              <option value="MA">Monday Afternoon</option>
              <option value="ME">Mondy Evening</option>
              <option value="TM">Tuesday Morning</option>
              <option value="TA">Tuesday Afternoon</option>
              <option value="TE">Tuesday Evening</option>
              <option value="WM">Wednesday Morning</option>
              <option value="WA">Wednesday Afternoon</option>
              <option value="WE">Wednesday Evening</option>
              <option value="TrM">Thursday Morning</option>
              <option value="TrA">Thursday Afternoon</option>
              <option value="TrE">Thursday Evening</option>
              <option value="FM">Friday Morning</option>
              <option value="FA">Friday Afternoon</option>
              <option value="FE">Friday Evening</option>
              <option value="SM">Saturday Morning</option>
              <option value="SA">Saturday Afternoon</option>
              <option value="SE">Saturday Evening</option>
              <option value="SUM">Sunday Morning</option>
              <option value="SUA">Sunday Afternoon</option>
              <option value="SUE">Sunday Evening</option>

            </select>
            <label>What are your preferred times to play?</label>
          </div>
        </div>



        <div class='section'><br></div>


        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
      
    </div>


{% endblock %}
